# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/target/
.idea
*.iml
out
gen
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Ali1688/logs/
Ali1688/src/main/java/com/importexpress/ali1688/exception/
Ali1688/target/
common/src/main/resources/
common/target/
logs/
mail/src/main/resources/static/
mail/target/
pay/src/test/
pay/target/
registry/src/test/
registry/target/
importex-ali1688/target/
importex-comm/target/
importex-email/target/
importex-pay/target/
importex-registry/target/
importex-comm/src/main/resources/
importex-comm/src/test/
importex-utils/target/
importex-search/target/
importex-shopify/target/
importex-registry/src/test/
importex-zuul/src/test/
importex-zuul/target/
error/
importex-product/target/
importex-cart/target/
/importex-ali1688/.settings/
/importex-ali1688/.classpath
/importex-ali1688/.project
.project
.settings/
LOG_PATH_IS_UNDEFINED/
importex-ali1688/LOG_PATH_IS_UNDEFINED/
importex-cart/.classpath
importex-cart/.project
importex-cart/.settings/
importex-cart/LOG_PATH_IS_UNDEFINED/
importex-comm/.classpath
importex-comm/.project
importex-comm/.settings/
importex-email/.classpath
importex-email/.project
importex-email/.settings/
importex-pay/.classpath
importex-pay/.project
importex-pay/.settings/
importex-pay/src/test/java/com/importexpress/pay/mq/
importex-product/.classpath
importex-product/.project
importex-product/.settings/
importex-registry/.classpath
importex-registry/.project
importex-registry/.settings/
importex-search/.classpath
importex-search/.project
importex-search/.settings/
importex-shopify/.classpath
importex-shopify/.project
importex-shopify/.settings/
importex-utils/.classpath
importex-utils/.project
importex-utils/.settings/
importex-zuul/.classpath
importex-zuul/.project
importex-zuul/.settings/
/importex-serialport/target/classes/
/importex-message/target/classes/
importex-message/target/
importex-serialport/target/
/importex-login/target/classes/
