<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.importexpress.user.mapper.UserMapper">

    <resultMap id="UserBeanResultMap" type="com.importexpress.user.pojo.UserBean">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pass" property="pass"/>
        <result column="applicable_credit" property="applicable_credit"/>
        <result column="email" property="email"/>
        <result column="picture" property="picture"/>
        <result column="area" property="area"/>
        <result column="country" property="countryName"/>
        <result column="available_m" property="availableM"/>
        <result column="firstdiscount" property="firstDiscount"/>
        <!--
        <result column="available_m" property="availableM" />
        <result column="updated" property="updated" />
        <result column="ac_there" property="acThere" />
        <result column="adminname" property="adminname" />
        <result column="niceName" property="niceName" />
         -->

        <result column="activationState" property="activationState"/>
        <result column="activationCode" property="activationCode"/>
        <result column="activationTime" property="activationTime"/>
        <result column="activationPassTime" property="activationPassTime"/>
        <result column="activationPassCode" property="activationPassCode"/>
        <result column="createtime" property="createtime"/>
        <result column="currency" property="currency"/>
        <result column="businessName" property="businessName"/>
        <result column="countryId" property="countryId"/>
        <result column="user_category" property="userCategory"/>
        <result column="signkey" property="signkey"/>
        <result column="signkey" property="signkey"/>
        <result column="businessIntroduction" property="businessIntroduction"/>
        <result column="whatsapp" property="whatsapp"/>
        <result column="shopify_flag" property="shopifyFlag"/>
        <result column="shopify_name" property="shopifyName"/>
        <result column="site" property="site"/>
        <result column="authorization_flag" property="authorizationFlag"/>
    </resultMap>


    <update id="updateUserShopifyFlag">
        update user set shopify_flag = 1, shopify_name = #{shopifyName} where id = #{userId}
    </update>

    <select id="getUserByShopifyName" parameterType="String" resultMap="UserBeanResultMap">
        select * from user where shopify_name = #{shopifyName}
    </select>
</mapper>